# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.CubeRub.iml
# Datasource local storage ignored files
/../../../../../../../:\UnityProject\Job\CubeRub\.idea\.idea.CubeRub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
